﻿
@{
    ViewBag.Title = "Create";
}

<h2>Create Categor</h2>

<form>
    <table>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <input />
            </td>
        </tr>
        <tr>
            <td>
                <label>Description</label>
            </td>
            <td>
                <input />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>