﻿
@{
    ViewBag.Title = "Create";
}

<h2>User Registration</h2>

<form method="post">
    <table>
        <tr>
            <td>
                <label>Name</label>
            </td>
            <td>
                <input />
            </td>
        </tr>
        <tr>
            <td>
                <label>Email</label>
            </td>
            <td>
                <input />
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input />
            </td>
        </tr>
        <tr>
            <td>
                <label>Phone Number </label>
            </td>
            <td>
                <input />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>